[2016-04-18 20:03] Uran198 opened #1 "Blog post topic idea: Working alone vs working in team/community"

[2016-04-18 20:19] sils1297 commented on #1
Quote from discussion:

you can offer a better quality, if things need to get done fast you can offer that too
and you provide safety to the others you're working with as in if you don't get contracts they'll probably have some

It may require more work, cause of planning, and maybe more clients or more expensive ones.

I think the most advantage of the teamwork is capability of working faster on

[2016-04-19 10:52] sils1297 opened #2 "Reach out to BitDefender for EuroPython SPonsoring"
CC @Adrianzatreanu @Nosferatul

[2016-04-19 10:53] sils1297 opened #3 "Reach out to Google for sponsoring"

[2016-04-19 11:21] sils1297 opened #4 "Make a "coala setup for a python project" screencast"

[2016-04-19 11:28] sils1297 opened #5 "Fill the interview for Gitter"
This document has some interview questions and also some content that could be written: https://docs.google.com/document/d/1DwKwFfidPDRpojoGDt09DVxNhB91h66ZJkQ6XKGPTso/edit?usp=sharing

It'd be good if everybody could ust go there and put an answer on his own and in his name to *at least one question*. If there already is an answer you can just repond to it and hopefully some kind of informational

[2016-04-19 11:50] tushar-rishav commented on #5
I've answered "What are the key challenges that you encounter while managing the community?" section. :+1:

[2016-04-19 12:29] sils1297 commented on #5
neat feel free to also answer two btw.

/me waits for others to put some answers too

[2016-04-19 20:49] Adrianzatreanu commented on #5
I've and worked on bringing the question ``What common goals do you have as a community? `` an answer.

[2016-04-20 09:17] hypothesist opened #6 "Do a series of basic screencasts displaying the cool features"

[2016-04-20 22:27] sils1297 opened #7 "add coala to https://github.com/vinta/awesome-python/blob/master/CONTRIBUTING.md"
add coala to https://github.com/vinta/awesome-python/blob/master/CONTRIBUTING.md

that project seems to be popular @Uran198 time to look into this?

[2016-04-20 22:27] sils1297 commented on #7
good to look at PRs that got accepted and see how they reasoned that they are "awesome"

[2016-04-21 04:16] SanketDG commented on #7
I am pretty sure that `coala` would be accepted, the project solves a problem, has good code quality and is active.

[2016-04-21 04:55] Uran198 commented on #7
https://github.com/vinta/awesome-python/pull/622

[2016-04-21 06:45] Uran198 commented on #7
We've got merged in :smile:

[2016-04-21 06:45] #7 closed

[2016-04-21 07:26] Uran198 opened #8 "Guidance on making a screencast"
Maybe, it would be useful to have somewhere around here some guidance, tips and tricks on how to make screencasts.

[2016-04-21 07:35] sils1297 commented on #8
Yes, see also https://github.com/hypothesist/termtype/blob/master/coala_intro.example

[2016-04-21 07:49] sils1297 opened #9 "Make a list of peoples twitter accounts"

[2016-04-21 07:52] Makman2 commented on #9
https://twitter.com/MakmanX64

[2016-04-21 07:52] sils1297 commented on #9
LSchuirmann for me

[2016-04-21 08:03] Uran198 commented on #9
https://twitter.com/ATovt

[2016-04-21 08:23] SanketDG commented on #9
https://twiiter.com/SanketDG

[2016-04-21 08:29] abhsag24 commented on #9
https://twitter.com/RaizadaAbhay

[2016-04-21 08:34] sils1297 commented on #9
No really can somebody make a markdown table in the repo with the names, github and twitter?

[2016-04-21 13:12] mr-karan commented on #9
http://twitter.com/karansharma1295

[2016-04-21 13:48] arafsheikh commented on #9
https://twitter.com/arafsheikh

[2016-04-21 14:13] djkonro commented on #9
https://twitter.com/djkonro35

[2016-04-21 19:33] abhsag24 opened #10 "Podcasts and meetings"
there were talks earlier of conducting meetings,i was thinking of having some off-coala topics to discuss in those meetings and we could create podcasts out of them and put them on our youtube channel, that way we could have some engagement and in the long run if we do earn something it could go back into coala

[2016-04-23 13:06] sils1297 commented on #3
IIUC this didn't work out. @Udayan12167 can you in the future close stuff on your own I can't and don't want to micromanage everyone.

[2016-04-23 13:06] #3 closed

[2016-04-23 14:15] sils1297 opened #11 "Add GSoC students blogs to planet.coala-analyzer.org"
@AbdealiJK can you self assign and do this today?

[2016-04-23 14:16] sils1297 opened #12 "Add Google Tracking to planet.coala-analyzer.org"
@AbdealiJK can you self assign and do this today?

[2016-04-23 14:43] AbdealiJK commented on #12
It seems we already have a plugin names "WP Statistics" which is really nice. It doesnt track number of people viewing the RSS though - I wonder if it's possible to do that.

[2016-04-23 15:00] AbdealiJK commented on #12
I have deleted the "coala - Planet" property from google analytics.
I am using:
 - WP Statistics - To measure number of people visitng site (This is quite low as it's a subscription site. This will not be needed when it gets merged with coala-website in @tushar-rishav 's GSoC project)
 - Simple Feed Stats - To see number of times the RSS feed is downloaded by someone (Google analytics cannot do th

[2016-04-23 15:00] #12 closed

[2016-04-23 15:08] AbdealiJK opened #13 "[Tracking] Planet coala subscription"
This is a tracking issue where members of the coala community can request their blog to be added to the planet-coala blog aggregator. If there are any changes in the link of the RSS Feed comment here to request a change of link.

Guidelines:
 - The link to be added should be a RSS Feed link
 - Ensure the link works fine before posting it here. You can validate RSS Feeds at https://validator.w3.org

[2016-04-23 15:11] AbdealiJK commented on #11
Done (except hypothesist as the RSS link gives a 404)
I added the RSS Links to the Syndicate plugin. Do I need to create some author or something similar and link the RSS Link to the Author of the site ? (You don't seem to have done it for other blogs)

[2016-04-23 16:43] sils1297 commented on #11
@AbdealiJK just giving it a link to the blog works fine, it also usually figures out where to look for the feed by itself. Thanks! I corrected @hypothesist s feed.

[2016-04-23 16:43] #11 closed

[2016-04-24 11:52] hypothesist commented on #13
My RSS feed: http://hypothesist.github.io/feed_gsoc.xml

This feed is exclusive to GSoC related posts.

[2016-04-24 12:40] sils1297 commented on #9
Can somebody put this list in the repo please and ping other people for their names? If somebody doesn't have twitter please list that explicitly so we don't ask that person multiple times.

[2016-04-24 12:47] sils1297 commented on #13
@AbdealiJK can't each student open a new issue so we can keep track of which blogs are and aren't added by closig issues?

@hypothesist the other blog posts seem to be related as well why not aggregate your whole blog? The planet isn't for coala only topics.

[2016-04-24 16:28] Makman2 commented on #9
Where exactly? and which people to ask for? all contributors? maintainers?

[2016-04-24 16:29] sils1297 commented on #9
All. People who contribute so I might want to mention them in tweets.

Just a markdown or CSV in the repo. Really quick'n'simple.

[2016-04-24 16:30] Makman2 commented on #9
does wiki suffices?

[2016-04-24 16:46] Makman2 commented on #9
See https://github.com/coala-analyzer/engagement/wiki/People

[2016-04-24 17:04] Adrianzatreanu commented on #9
moved here https://github.com/coala-analyzer/coala/wiki/Twitter-accounts

[2016-04-24 17:04] #9 closed

[2016-04-24 17:53] AbdealiJK commented on #13
I'd prefer single issue - but I understand why multiple issues may be good
too. (GNOME uses different issues). If you don't think that's clutter, then
let's do that

On Sun, Apr 24, 2016 at 6:17 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-04-24 23:19] hypothesist commented on #13
@sils1297 I'd do that, but I'm not sure if it all would be computer-related :) Plus it would restrict me from posting more local and personal stuff, you know.

[2016-04-25 08:26] sils1297 opened #14 "Possibly use lanyrd"
Maybe we can use this to get speakers about coala to more confs? http://lanyrd.com/search/?context=future&q=open+source

[2016-04-25 08:31] sils1297 commented on #14
CC @Uran198

[2016-04-25 15:56] Uran198 commented on #14
So, if I got it correct lanyard helps to keep track of upcoming confs. How can it help to get more speakers to more confs?

[2016-04-25 16:02] sils1297 commented on #14
IIUC you can register a speaker profile and it gives you possible confs? I don't know exactly but I think it may help

[2016-04-30 10:09] sims1253 opened #15 "Make a Reddit AmA"

[2016-04-30 10:14] sims1253 opened #16 "Develope a strategy on to get people to actually use coala"
At the Linuxwochen we had the feeling that we have more people developing coala than acutally using it. We should think about ways we can get people to use it.

[2016-04-30 12:55] sims1253 commented on #16
Might be a nice start to just ask everyone what it would take for them to use coala and if there is something that stops them from using it.

Also our host made the suggestion to contact other projects and help them setup coala to make them use it.

[2016-04-30 13:52] sils1297 commented on #16
FWIW I started that at https://github.com/mapsme/omim/pull/2912 but I
didn't have time t continue

[2016-05-01 20:18] sims1253 opened #17 "Get a way to contact people that show interest at conferences"
Get the emails or some contact of people that want to try coala so we can ping them and get them to use it

[2016-05-01 20:26] sils1297 commented on #17
mailchimp form possible and rather easy to set up, we might want to do a
newsletter like for every release or something. That needs a volunteer
interested in writing news.

[2016-05-01 20:40] sims1253 opened #18 "implement https://github.com/sims1253/coala_showcase"
see: https://github.com/coala-analyzer/coala-tutorial/issues/4

This could be build upon to create a nice way to present coala at conferences

[2016-05-01 21:04] sims1253 opened #19 "Info Mail"
Our host at linuxwochen suggested that we should create an info mail that is a short introduction to what coala is. He would like to ping some people in the professional software development scene about us but need something he can show.

Clarification:
The idea is to have something a professional can be shown to see what coala does without all the "its like spell checking for code" stuff we do at

[2016-05-01 21:05] sils1297 commented on #19
Sounds awesome, you got the contact details? (No need to publish here but somebody should have it, as this issue is not confidential.)

[2016-05-01 21:09] sims1253 commented on #19
He said he would send it to them if we gave something to him. I think this would be better because he knows the people and would suggest us. Having an info mail is useful in general.

[2016-05-02 18:11] sils1297 commented on #8
@Uran198 do you want this documented in the repo somewhere?

[2016-05-02 18:12] sils1297 opened #20 "Create a meetup"
People seem to use meetup.com and it'd probably at least give us a few interested people around hamburg if we organized something fun.

CC @sims1253 as he had similar ideas.

[2016-05-02 21:24] sims1253 commented on #19
To make this clear again (also put an edit in the description)
This is about having something to present coala to professionals in the software development world.

[2016-05-02 21:29] sims1253 commented on #19
@Uran198 @Adrianzatreanu

[2016-05-03 08:59] Uran198 commented on #8
I don't think it's important where it is until it's easy to find. Maybe, gathering all engagement related stuff in this repo can make it simpler to find. Like pointing to one repo and saying that there is all you need related to engagement.

[2016-05-03 15:25] Uran198 commented on #14
OK, so this helps to find confs that will take place and track them, it nicely organizes them. Also it's based on twitter API, so probably, you can see what events the people you follow will attend. I think this will be great to track people going to the events as well as speakers.

[2016-05-03 15:43] Uran198 commented on #19
I think what will be useful for professionals to know about coala is:
- A few most useful commands to get started fast. They may be busy people and have no time to go through tutorial
- Clarification on what tasks can get parallazied and what not. The concept of sections.
- Clear dependencies for each bear (I'm not sure we have it).
- Promotionals:
  - common interface
  - different output format

[2016-05-03 15:44] Uran198 commented on #19
Also, to create a flyer we can use one of the free online services.

[2016-05-04 08:04] sils1297 commented on #8
I think this should be done upstream as termtype documentation, CC @hypothesist

[2016-05-04 18:55] hypothesist commented on #15
Which sub? /r/OpenSource? Or /r/IAmA itself?

[2016-05-07 07:48] sils1297 commented on #2
@Adrianzatreanu can you deal with this ASAP? This was intended to happen within a few days, not weeks originally.

[2016-05-07 07:51] sims1253 commented on #19
@Adrianzatreanu anything you can add?

[2016-05-07 08:14] sils1297 opened #21 "Make a "What is coala" video"
Something like Dropbox's explanation video. We should write a text, make a video, get a speaker, record it, get background music.

[2016-05-07 08:14] Adrianzatreanu commented on #2
yes, you're right, it's my bad. I have contacted a friend from the same organization i'm part of (that bitdefender sponsors sometimes) and he told me that they do not sponsor abroad finances or stuff like that, since they tried before. they only do in our country.

[2016-05-07 08:16] #2 closed

[2016-05-07 08:18] Adrianzatreanu commented on #19
i think we can point out how coala does a great job at explaining you what is wrong when an analysis is found.

also the auto-applying by setting it to auto-apply saves a LOT of time, might be good to have this shown? like u dont need to click 100 times if you know you need to change stuff.

[2016-05-07 08:25] Adrianzatreanu commented on #19
so:

- detailed analysis on errors
- amazing auto-fixing feature for all your code

[2016-05-07 21:29] mr-karan commented on #13
I want to change my feed link to [http://mr-karan.github.io/feed_gsoc16.xml](http://mr-karan.github.io/feed_gsoc16.xml)

[2016-05-07 21:29] sils1297 commented on #19
writing one at https://etherpad.gnome.org/p/coalaforswdevs

[2016-05-08 01:54] AbdealiJK commented on #13
@mr-karan Done

[2016-05-09 20:16] sils1297 commented on #19
writing a formatted version now at https://docs.google.com/document/d/1dOVZDpEqLaZJEkntiCXVHqXxvaFNai-whnR7Q2PUz5A/edit?usp=sharing

[2016-05-11 09:42] sils1297 opened #22 "auto-tweet new planet coala blog posts"

[2016-05-11 09:42] sils1297 commented on #22
there's at least one WP plugin for that

[2016-05-11 11:25] sils1297 opened #23 "Liberapay vs. Gratipay"
Which service do we want to use?

[2016-05-11 12:48] SanketDG opened #24 "Use a better mailing list service"
Suggestions welcome.

[2016-05-11 12:49] sils1297 commented on #24
CC @rubdos

[2016-05-11 13:26] sils1297 commented on #24
http://librelist.com/help.html promising, if they're still operational...

[2016-05-11 13:35] SanketDG commented on #24
They didn't update their copyright year since 2010, so not sure how operational it is.

[2016-05-11 14:40] AbdealiJK opened #25 "Make a course at ThinkFOSS"
I just found: https://www.thinkfoss.com/ Where, if someone is intersted, could make a course on coala

[2016-05-11 14:46] AbdealiJK opened #26 "coala in coursera"
It would be interesting to try to make a free course in Coursera or so titled "Introduction to maintaining large codebases" (or similar) and talk about:
 - Static code analysis (with coala ...)
 - Unit-testing, coverage
 - Continuous integration

This is a semi-coala related issue. But would be interesting nonetheless for those interested in something like this.

[2016-05-11 16:12] SanketDG commented on #26
Wait you can make courses in coursera? Coursera's content is pretty much by universities and colleges. Udemy would be a good option.

[2016-05-12 15:18] Uran198 commented on #23
Here are some thought liberapay: https://github.com/liberapay/salon/issues/8

[2016-05-17 12:38] Uran198 opened #27 "Add automation to twitter usage"
Right now, all the twitter stuff is managed by @sims1253, so to take some work from his shoulders, there should be a bot that will automate to some extend interaction with twitter.
The goal is that after merged PR, someone from specific (configurable) team can comment something like:
[code]

The bot should pick that up, look up author(s) of commits from PR, based on Github username look up Twitter

[2016-05-17 16:08] mr-karan opened #28 "Introduce coala at multiple subreddits"
We can introduce coala to redditors, like we posted at HN. Few subreddits that I think are suitable for this are

- https://www.reddit.com/r/opensource
- https://www.reddit.com/r/programming
- https://www.reddit.com/r/python

[2016-06-22 13:02] hypothesist commented on #28
I was waiting for 1.0

[2016-06-22 13:04] hypothesist commented on #26
With their recent structural changes, is this still possible? I haven't read the details, but they are pretty much monetizing and closing their environment from what I understand.

[2016-06-26 11:14] sils1297 opened #30 "Workshops"
Hey @stefanoco we're currently beginning to do workshops within the community. There are some companies, and you seem to be in one of them, that are using coala. Would you be interested in getting a workshop about coala, or a talk or so?

I'm just thinking we could provide some kind of support for a fee as an organization for more commercial needs.

Question to you would be: what are your needs? C

[2016-06-26 11:15] sils1297 commented on #26
We are currently doing workshops that we record, possibly we can reuse the material to make those courses?

[2016-06-26 11:15] sils1297 commented on #21
CC @fneu @seblat this is key for GitMate as well

[2016-06-26 11:16] sils1297 commented on #18
@sims1253 the repo exist, what needs to be done here?

[2016-07-11 08:13] stefanoco commented on #30
@sils1297 sorry for being so late answering. Yes this is something that we may need in the next few weeks, as we're now trying to understand how to enhance our workflow by using automate code analysis with such tools. I'll be back to you during september perhaps.

[2016-07-11 11:41] sils1297 commented on #30
Cool!

So I can think of two models:

1. We do have some freelancers in the community. We can offer companies to get them in contact with those.
2. We can try to make an own organization, quality control the people and get them the contracts. We (which probably goes down to me in the end... I will be doing this with a client soon e.g.) would make workshops with the instructors probably to ensure t

[2016-07-11 12:18] stefanoco commented on #30
This is actually similar to what we're doing at Bluewind: consulting companies as a group of 10 engineers plus a few freelancers when needed (embedded systems design and embedded software development).

My understanding is that building a small organization (company) that keeps omogeneous methods / standards / quality of a groups of skilled freelancers is a winning model.

[2016-07-13 12:14] tushar-rishav commented on #27
Having user's email from github handle, can we also get their twitter handle too. @Uran198 thoughts? (might need to check out twitter api).
If we have the handle, we can just tweet either using twitter api or using [twitter cli](https://github.com/sferik/t) we could post a tweet.
I would like to work on this. :)

[2016-07-13 12:33] Uran198 commented on #27
@tushar-rishav feel free to assign yourself. IMO it's better asking users for their twitter handlers, as some may not want to be mentioned, or want to be mentioned with another account, etc.

[2016-07-13 12:35] sils1297 commented on #27
We have the https://github.com/coala-analyzer/coala/wiki/Community-list

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 13 July 2016 at 14:33, Attila <notifications@github.com> wrote:

[2016-07-21 10:35] mr-karan opened #31 "Illustrated Guide for coala"
Something similar to https://deis.com/blog/2016/kubernetes-illustrated-guide/

We can do a visual illustration of coala naming story, how coala helps, how to use in a simple to read manner

[2016-08-03 05:03] mr-karan opened #32 "Add coala to various github collection repos"
There are a lot of repos with huge number of stars like https://github.com/bayandin/awesome-awesomeness and a lot of them are in fact listed here https://github.com/sindresorhus/awesome , https://github.com/httpsGithubParty/FOSS-for-Dev#code-quality

Task is to find out all such repos (As many as possible) and create issues to add coala also in the relevant lists :+1:

[2016-08-21 07:45] mr-karan opened #35 "Create Graphic Advertisment for coala"
Read here : http://meta.stackoverflow.com/questions/327559/open-source-advertising-2h-2016

[Free Vote-Based Advertising for Open Source Projects](http://blog.stackoverflow.com/2009/12/free-vote-based-advertising-for-open-source-projects/)

[2016-08-27 03:33] AbdealiJK opened #37 "StackOverflow Advert"
http://meta.stackoverflow.com/questions/327559/open-source-advertising-2h-2016

SO is saying they will give a free advert for an open source organization that's asking for more developers.
It is a great idea for us to participate. We need a advertisement poster/logo asap !

[2016-08-27 03:39] mr-karan commented on #37
It's a dupe

On Sat 27 Aug, 2016, 09:03 AbdealiJK, <notifications@github.com> wrote:

[2016-08-27 03:46] AbdealiJK commented on #37
Oops, duplicate of https://github.com/coala-analyzer/engagement/issues/35

[2016-08-27 03:46] #37 closed

[2016-08-27 03:46] AbdealiJK commented on #35
Bump - someone should really do this. It's free advertising !

[2016-08-27 20:21] sils1297 commented on #35
This was done at http://meta.stackoverflow.com/questions/327559/open-source-advertising-2h-2016/333317#333317 - please upvote!

[2016-08-27 20:21] #35 closed

[2016-08-27 20:21] sils1297 commented on #35
Thanks to @beatrix-bodo for doing this!

[2016-08-29 20:12] underyx opened #39 "Send pull requests to random projects that use static analysis tools replacing those tools with coala"

[2016-09-05 20:41] sils1297 opened #40 "Release announcements"
when announcing releases we should write something like

[2016-09-09 06:51] sils opened #41 "Add coala to another awesome list"
https://github.com/mre/awesome-static-analysis

@Udayan12167 @mr-karan or maybe @meetmangukiya can you look into getting us in there? Also investigate if there are any useful things they have that we don't yet?

[2016-09-20 12:55] sils1297 opened #42 "Fundraising"
We might have a decent chance of getting some funding:

- http://sfconservancy.org/members/apply/ (see also https://github.com/coala/coala/wiki/SFConservancy-Application)
- https://www.opentech.fund/apply
- http://prototypefund.de/ (germans only, project based, CC @sims1253 )
- http://foundation.travis-ci.org/grants/

[2016-10-08 11:54] coala-bot opened #43 "We need too much time for newcomer issues!"
Please scroll up the discussion as linked by cobot.

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=57f8de7e84f1db06149221e5) by @sils

[2016-10-08 12:08] sils commented on #43
- GitMate autoreply with checklist
- Urge newcomers to help out in the **newcomers guide** as well as the **reply template**:
    - By reviewing at least one other newcomer PR **and**
    - By fixing a difficulty/low issue or helping with other stuff, e.g. artwork

[2016-10-08 12:18] adtac commented on #43
Thanks for your contribution!

Reviewing pull requests take a lot of time. So please make sure you go through the following check list and complete them all before pinging someone for a review.

- [ ] I have rebased properly. [Please see this for a tutorial.](http://coala.readthedocs.io/en/latest/Developers/Git_Basics.html#rebasing)
- [ ] I have gone through the [commit guidelines](http://coala.re

[2016-10-08 14:48] sils commented on #43
I did this manually on the db because of some auth issue: `update git_hub_repository set autorespond_text="Thanks for your contribution!\n\nReviewing pull requests take really a lot of time and we're all volunteers. Please make sure you go through the following check list and complete them all before pinging someone for a review.\n\n- [ ] I have rebased properly. [Please see this for a tutorial.](

[2016-10-08 15:47] sils commented on #43
I filed an issue in documentation about that one and the rest is done.

[2016-10-08 15:47] #43 closed

[2016-10-08 16:51] sils commented on #43
Updated it a bit:

[code]

[2016-10-29 18:43] coala-bot opened #46 "Get present on StackOverflow"
We may try to put some stuff at SO, pushing the tag, making it popular.
Was just suggested by someone at PyCon DE.

Opened via [gitter](https://gitter.im/coala/coala/?at=5814edbd7b15d16e55c11169) by @sils

http://stackoverflow.com/questions/tagged/coala doesnt exist, and needs someone with 1500 reputation to create . There are some relevant questions.

[2016-10-31 12:45] sils commented on #46
CC @jayvdb and @AbdealiJK

[2016-10-31 12:45] sils commented on #46
also CC @seblat

[2016-11-04 12:26] jayvdb opened #47 "GCI repeatable tasks: bear asciimena"
There could be two tasks :

1. Create a missing asciinema , with only a single set of errors, using the bad code in the bear unit test.  This should be a GCI "easy" task, and very well documented.  All participants are expected to do one of these "Easy" tasks, and can only do two, before they must move on to harder tasks.

2. Advanced asciinema , showing at least one message from each severity sup

[2016-11-04 12:32] jayvdb opened #48 "Document process for testing coala-ci on a GitHub project using Travis and reporting findings"
Document process for testing coala-ci on a GitHub project using Travis and reporting findings.

This will be used as a GCI medium difficulty task, but is also used for other engagement activities where many participants are exploring coala's capabilities.

The important part is what they do with the Travis results, so that the reported findings are pushed back into the coala dev and further engage

[2016-11-04 12:40] jayvdb opened #49 "GCI task: Create a inter bear mini-project"
There is wonderful documentation on how to create a bear.

We need to create a task description , including a long list of possible linter bears that can be created, and links to other "awesome lists" of linters.  It isnt sensible to create issues for every single one of them, as the list of linters grows quicker than we could create issues.

One step in the process would be to create an issue for

[2016-11-04 12:42] jayvdb commented on #49
I am happy to do this one, but would love some help with it, as I havent written a bear myself, so the 'coding' part of the task may need some extra text added to it.

[2016-11-07 00:59] underyx opened #50 "Create PRs for the linters we support to add 'you can run this with coala' to their docs"

[2016-11-07 08:38] sils commented on #50
CC @srisankethu @sims1253 @jayvdb might be a good GCI repeatable task

[2016-11-07 18:46] jayvdb commented on #48
Writing it up at https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala

[2016-11-07 20:48] jayvdb commented on #48
Note there should be two tasks:

1. report findings of coala-ci with only auto-fixes, and no PR (mostly written up)
2. explore the errors and fix them if there are a small number, or remove the problematic bears, so that the changes can be a PR to the selected repo (not done)

[2016-11-07 20:49] jayvdb commented on #48
Note this task is much easier if https://github.com/coala/coala-quickstart/issues/39 is completed

[2016-11-10 10:38] coala-bot opened #51 "Make GCI Asciinema Task"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=58244e23df5ae966453bc103) by @sils

[2016-11-10 10:38] #51 closed

[2016-11-10 11:58] sils commented on #47
@jayvdb I think we can get better results by generating asciinemas. This should be super easy with termtype (if @adtac fixes that nondeterministic character getting wrong thing) or we could even generate it directly.

Point is: if we generate them, we can reproduce that at any time with updated content, we have more consistent asciinemas, less redundancy (want a better asciinema? Improve your test

[2016-11-10 12:29] jayvdb commented on #47
I am not confident that unit test are great walk throughs. They are better than nothing, and they help a newbie start without experience, but a good walk through has a different goal than a good unit test.

Maybe there is a task to compare asciinema with unit test; mark in spreadsheet which one is better; if asciinema is better, create issue to expand unittest

A follow up task is to write better

[2016-11-10 12:50] sils commented on #47
@adtac had an idea of letting them use the test generator and feed it with input so we gain the pros but can edit the content, @adtac can you elaborate on that? How much work is it from our side to get thegenerator going well enough?

[2016-11-10 13:11] adtac commented on #47
We can have a template termtype or ctate/asciinema file and then fill in the blanks for each bear, I think. I haven't fully thought out the idea, but from the surface it looks pretty doable.

I can definitely do it in one hackathon after my exams (which end on Nov 26/27). That should be soon enough for GCI, no?

[2016-11-10 13:17] srisankethu commented on #47
@adtac GCI starts on November 28th :(

[2016-11-10 13:20] sils commented on #47
and the good people will start earlier according to @jayvdb

[2016-11-10 14:36] jayvdb commented on #47
Indeed. That is the level of help we should be giving them in the task description.

That isnt a problem. We write the description now, and improve the description and methodology as we can find time, and when we notice better methods.

[2016-11-12 12:05] coala-bot opened #52 "New slogan on shirts: "Appease the coala!""
Opened via [gitter](https://gitter.im/coala/coala/?at=5827058631c5cbef43e7f680) by @sils

[2016-11-12 14:34] sils commented on #47
@srisankethu assigning you then, you finish up writing the asciinema tasks right?

[2016-11-14 15:20] coala-bot opened #53 "Make coalang GCI task"
CC @abhsag24 the deadline is nov 28th, https://github.com/coala/coala/wiki/Google-Code-In

Opened via [gitter](https://gitter.im/coala/coala/?at=5829d63a65485ebc6793f93f) by @sils

[2016-11-15 11:15] jayvdb commented on #49
started at https://github.com/coala/coala/wiki/Google-Code-In-Task-Create-Linter-Bear

[2016-11-15 12:49] coala-bot opened #54 "cobot should listen to info-only commands on https://gitter.im/coala-bot"
Opened via [gitter](https://gitter.im/coala/coala/?at=582b0445bd2f135f1a1e4250) by @jayvdb

[2016-11-15 14:21] jayvdb commented on #47
I've significantly expanded https://github.com/coala/coala/wiki/Google-Code-In-Task-Simple-asciinema , but some sections are still quite vague.  Every step needs to be 100% explained.  This is the first task the participants will see.  Test it, but stepping through it, and record any detail not yet described.

[2016-11-15 14:23] srisankethu commented on #47
@jayvdb Awesome! Thanks! I will make a note to explain each step a 100%

[2016-11-15 14:56] jayvdb commented on #46
There is a hacky Gitter integration script at https://github.com/gitterHQ/services/issues/60 .
Might be worth adding something similar to cobot .

[2016-11-17 06:56] coala-bot opened #55 "create tool to find popular repositories without CI"
Opened via [gitter](https://gitter.im/coala/coala/?at=582d549a65485ebc67a7ea21) by @jayvdb

[2016-11-18 10:59] Makman2 commented on #55
I think very easy is to use scrapy -> get newest PR (or a few newest PRs) -> find the GitHub footer message which would display CI results -> validate what's standing there

[2016-11-18 11:42] jayvdb commented on #55
It should use the [GitHub API](https://developer.github.com/v3/repos/statuses/).

The objective is to simplify https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala , which means there are quite a few other rules to implement , and we could take it further to automate the whole process to find repositories that coala can be [implemented](https://github.com/coala/coala/wiki/Google-Code-

[2016-11-19 00:24] jayvdb commented on #50
ya. It would be.  The important part is asking them to find the linter documentation about wrappers (including vim plugins / emacs modes) as an anchor for where to add coala.

If the linter doesnt have wrappers mentioned in their documentation, it is not easy to add it, and IMO it shouldnt be added by a high school student - that would be asking them to be a coala spammer.

[2016-11-19 00:30] underyx commented on #50
If us maintainers personally wrote messages about how we're in need of more
exposure and how we think coala could be useful for the given linter's
users, I'm pretty sure linter maintainers would be more sympathetic and
could accept these PRs even if they didn't already have a relevant section.

On Sat, Nov 19, 2016, 1:24 AM John Vandenberg <notifications@github.com>
wrote:

[2016-11-19 01:33] jayvdb commented on #50
Ya. The GCI participants can do the initial leg work, and then pass the
task to a maintainer if it isnt 'easy'.

On Sat, 19 Nov 2016 07:30 Bence Nagy, <notifications@github.com> wrote:

[2016-11-24 05:47] jayvdb opened #56 "Rename planet.coala-analyzer.org to planet.coala.org"

[2016-11-27 12:05] tulphoon opened #57 "Artwork: create an 'Uncle Sam' like coala poster."
We could create an 'Uncle Sam' like poster, but replaced with coala pointing towards the viewer and a phrase like 'coala wants you to lint your code!'. Suggestions highly recommended :)

[2016-11-27 14:22] sils commented on #57
CC @beatrix-bodo although she probably lacks time it might be interesting

[2016-11-29 12:50] coala-bot opened #58 "create GCI task to add CI to GitHub Pages template repos"
e.g. https://github.com/jasonlong/architect-theme

https://help.github.com/articles/creating-pages-with-the-automatic-generator/

Opened via [gitter](https://gitter.im/coala/coala/?at=583d7995381827c24d95b604) by @jayvdb

[2016-11-30 14:37] jayvdb opened #59 "Create linters equivalent to git-lint"
There are quite a few linters supported by [git-lint](https://github.com/sk-/git-lint) which coala doesnt have a bear for, including a new formats not supported yet.

[2016-12-09 16:32] jayvdb commented on #59
dup of https://github.com/coala/coala-bears/issues/295

[2016-12-14 05:50] jayvdb opened #60 "Migration path for pychecker users"
[PyChecker](http://pychecker.sourceforge.net/) is an old Python checker, supporting up to Python 2.7.
Despite other more dominate checkers, there are [many users](https://github.com/search?q=pychecker&type=Code&utf8=%E2%9C%93), as it has some checks which do not appear elsewhere.

Quickly annotating its feature list with existing tools that do this:
-  No global found (e.g., using a module without

[2016-12-14 05:54] jayvdb opened #61 "Missing linter list"
I think it would be useful to maintain a list of "missing" linters, where we know about a problem, and do not know of a tool which checks it.

Where reasonable, we could suggest they could be solved by creating a coala native bear.

For others, we could recommend an existing linter that would be a 'natural fit' for the extra functionality, and create an enhancement request in the external project,

[2016-12-15 03:29] jayvdb opened #62 "Build linter bears for any of lint-condo that is missing"
https://hub.docker.com/r/singapore/lint-condo/

[2016-12-15 14:59] coala-bot opened #63 "create gitter room welcome message"
create gitter room joining notice like on https://gitter.im/gitterHQ/gitter

![](https://cloud.githubusercontent.com/assets/335567/16236956/1819f5ac-378f-11e6-83a0-5c334c27b6c4.png)

Opened via [gitter](https://gitter.im/coala/coala/?at=5852afb40730ce6937cb6c5b) by @jayvdb

[2017-01-04 02:57] coala-bot opened #64 "Improve .coafile on travis-ci/docs-travis-ci-com"
Many bears can be enabled in https://github.com/travis-ci/docs-travis-ci-com/blob/gh-pages/.coafile

Opened via [gitter](https://gitter.im/coala/coala/?at=586c649bc895451b7551f762) by @jayvdb

[2017-01-04 03:56] jayvdb commented on #62
Next step is investigating which of these we do not need (unlikely), and creating tasks for each.

[2017-01-04 17:42] jayvdb commented on #47
I think this is about as good as we'll get.

[2017-01-04 17:42] #47 closed

[2017-01-04 17:44] jayvdb commented on #59
Not a dup; coala/coala-bears#295 is a commit message linter.
Overlaps with https://github.com/coala/engagement/issues/62

[2017-01-04 18:23] jayvdb commented on #59
The custom image and INI linters, and tidy wrapper, are at https://github.com/sk-/git-lint/tree/master/scripts/custom_linters

[2017-01-05 04:58] jayvdb opened #65 "Compare coala+gitmate with danger"
[danger](http://danger.systems/) includes process and code quality automation, integrated with GitHub and other code repository systems.

An example of process automation is requiring PR authors join the organisation.

coala only provides code quality automation with the addition of git commit message checking.
gitmate adds GitHub integration.

coala+gitmate lacks process automation, and is not es

[2017-01-05 06:58] jayvdb commented on #46
Can we run this SO gitter bot on one of the coala.io servers.
If we have SO notifications in gitter, we can try directing more of the questions occurring our gitter to SO, and then respond promptly when they are created on SO.
cc @sims1253 re community management aspect of this.

[2017-01-05 07:00] sils commented on #63
@jayvdb do you have concrete ideas on what should be in there?

[2017-01-05 07:24] jayvdb commented on #63
'Say hello world to be invited to the coala organisation.'

Also would be good to mention cobot.

[2017-01-05 07:43] sils commented on #63
I set this as welcome message for now, let me know what you'd like to change:

---

Welcome to the [coala](https://coala.io) main channel! (You can get a quick overview over all channels [at our wiki](https://coala.io/channels))

If you're looking to contribute to Open Source for your first time, just send us a `Hello World` to get an invite to the organization and check out our guide at <https://

[2017-01-05 07:49] sils commented on #46
see https://github.com/oxinabox/StackOverflowGitterNotifier.jl/issues/3

[2017-01-05 09:38] #63 closed

[2017-01-05 10:02] jayvdb commented on #59
For JPEG and PNG, I have created https://github.com/coala/coala-bears/issues/1259

[2017-01-05 11:15] jayvdb opened #66 "Build linter bears for any of openSUSE:devel:/tools:/statica that is missing"
c.f. https://github.com/coala/docker-coala-base/issues/43

These are "quick win" tools, as they are easy to add to our docker image, as our base is openSUSE.

* [ ] cbmc
* [ ] cil
* [ ] frama-c
* [ ] ltl2ba
* [ ] minisat
* [ ] smatch
* [ ] sparse
* [ ] stp
* [ ] z3

[2017-01-10 19:38] sils commented on #63
Updated the message to include the reference to our code of conduct, CC @Mariatta (see y last message above)

[2017-01-10 19:49] Mariatta commented on #63
Awesome!. Thanks :)

[2017-01-13 07:36] oxinabox commented on #46
Ok, so I'll host the GitterNotifier script for you for the next 12 months or so.
(No SLA, no promises).
After which time julia 1.0 should be out, and hopefully setting this up will be easier.

It is up and running now.
Contact me if something goes wrong with it.

[2017-01-13 07:43] jayvdb commented on #46
That is good enough for now.
Thanks so much!

[2017-01-13 07:43] #46 closed

[2017-01-18 14:34] jayvdb opened #67 "Write blog post about GCI"
A summary of tasks done should be compiled and published before google announces gci results, so journalists have an easy way to get to the details.
cc @sils .

[2017-01-18 14:35] jayvdb opened #68 "Review all use of 'Ignoring' in gci16 repo"

[2017-01-18 14:40] sils commented on #67
Should I do it? you probably know more about it

On Jan 18, 2017 3:34 PM, "John Vandenberg" <notifications@github.com> wrote:

[2017-01-26 07:50] sils commented on #41
we're on there!

[2017-01-26 07:50] #41 closed

[2017-01-29 19:42] coala-bot opened #69 "tshirt shop"
Do we want that? Something like http://www.cafepress.com/cp/info/sell/index.aspx?area=openashop&page=openashop

Opened via [gitter](https://gitter.im/coala/coala/?at=588e45ac4c04e9a44e4662c7) by @sils

[2017-01-30 12:06] sils opened #70 "work out sponsorship packages"
we should provide those, I think we can use the sponsors section at new.coala.io pretty well, prividing a bigger or smaller place for the logos. Big question is: what is that worth to them? What's a compelling offer? We should define packages.

[2017-02-01 09:09] coala-bot opened #71 "Rename twitter account"
We can only use alphanumeric characters.

For our brand identity we don't want to stick to the analyzer, we rather wanna be the "coala.io".

proposed name so far is coala_io

Opened via [gitter](https://gitter.im/coala/coala/?at=5891a5d8c0f28dd8626cf17b) by @sils

[2017-02-01 10:33] coala-bot opened #72 "FOSDEM Hackathon"
We will have a hackathon with @seblat @sims1253 @userzimmermann @justuswilhelm and @sils .

Please edit this description and add things that you think are super important and deserve immediate attention:

- [ ] Investigate GCI task results and fix major problems (TODO link to spreadsheet)

Opened via [gitter](https://gitter.im/coala/coala/?at=5891b9672ff29dec06623d04) by @sils

[2017-02-01 11:07] jayvdb commented on #72
Re-doing [GCI CI1](https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala) and CI2 task on the same repo as a GCI student is the best approach.

Completing CI1 should only take 15 minutes for any reasonable repo.  If the latest docker image doesnt work, use the `0.9` image.  Almost everyone will find a pretty basic problem with coala-quickstart, many of which have [already been raised](

[2017-02-01 20:21] sils commented on #71
The following people agreed:

- jayvdb
- sils
- sims1253
- seblat
- justuswilhelm
- userzimmermann

and nobody disagreed - so I just did it.

[2017-02-01 20:21] #71 closed

[2017-02-05 21:30] sils commented on #70
Related:

http://www.seleniumhq.org/sponsor/
and https://twistedmatrix.com/trac/wiki/TwistedSoftwareFoundation#BenefitsofSponsorship

[2017-02-05 21:30] sils commented on #70
CC @jayvdb and @sims1253 at least

[2017-03-02 15:42] saurabh-kumar-vit commented on #64
I would like to work on this issue. What type of improvements do I need to do?

[2017-03-02 15:58] jayvdb commented on #64
Hi @saurabh-kumar-vit , this task needs to be done by someone who is very familiar with coala, in order that it is done correctly, as it requires working outside the coala repositories.  Please find another http://coala.io/new issue to work on as your first patch.

[2017-03-07 07:53] jayvdb opened #73 "Add all features of .editorconfig"
http://editorconfig.org

Ideally also support its config file format.

[2017-03-24 15:16] adtac opened #74 "Remove inactive users"
@coala/to-be-removed

It looks like you haven't been contributing to coala the past month or so. We're removing all such users from the org to cleanup the user list. However, if you still want to be a part of the organization, please pick an issue and create a PR.

[2017-03-24 15:19] adtac commented on #74
However, you can also voluntarily remove yourself from the org if you are no longer interested.

[2017-03-27 00:02] jayvdb commented on #57
Examples at https://commons.wikimedia.org/wiki/Category:Derivative_works_of_I_want_you_for_the_U.S._Army_nearest_recruiting_station

Imo we should stay with 'I want you ..' as the start of the text, otherwise the reference is lost.

A coala pointing is the hard part.
https://commons.wikimedia.org/wiki/Category:Phascolarctos_cinereus

[2017-03-27 00:03] jayvdb commented on #68
https://github.com/fossasia/gci16.fossasia.org/search?utf8=✓&q=ignoring&type=

[2017-03-28 10:49] adtac commented on #74
@coala/to-be-removed

A general announcement one more time: you will be removed in 3 more days if there are no PRs from you. If you have created a PR, please comment here. Alternatively, you can stop this spam from me by simply removing yourself from the org.

[2017-03-28 10:53] Rupal-IIITD commented on #74
I would no more like to be a part of this organisation.
Thanks.

On Mar 28, 2017 4:20 PM, "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

@coala/to-be-removed <https://github.com/orgs/coala/teams/to-be-removed>

A general announcement one more time: you will be removed in 3 more days if
there are no PRs from you. If you have created a PR, please comment here.
Alternatively, you can stop

[2017-03-28 10:54] adtac commented on #74
Cheers, thanks for the reply. Removing you.

[2017-03-28 10:56] ovidiu1607 commented on #74
Same here, please remove me.

Pe 28 mar. 2017 13:54, "Adhityaa Chandrasekar" <notifications@github.com> a
scris:

[2017-03-28 10:57] laveesingh commented on #74
Remove me too.

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=laveechaudharytheone@gmail.com&idSignature=22>

On Tue, Mar 28, 2017 at 4:26 PM, Ovidiu <notifications@github.com> wrote:

[2017-03-28 10:57] adtac commented on #74
Uh could you guys remove yourself? You can do this by going to https://github.com/settings/organizations and clicking "Leave". Thanks!

[2017-03-28 11:06] cosmin296 commented on #74
Please remove me as well. Thanks!

Pe 28 mar. 2017 13:49, "Adhityaa Chandrasekar" <notifications@github.com> a
scris:

[2017-03-28 11:11] adtac commented on #74
@coala/to-be-removed please remove yourself from the org if you're no longer interested by going to https://github.com/settings/organizations and clicking "Leave". It's too painful for me to individually remove everybody (I'm going to write a script to do that for me this weekend).

PS: I promise, last spam email from me :)

[2017-03-28 11:20] encukou commented on #74
Note that you might also need to unsubscribe from *this issue* by clicking the Unsubscribe button at https://github.com/coala/engagement/issues/74

[2017-03-28 15:03] caichinger commented on #74
@adtac Hi, I fully understand that you want to clean up the list. However, I currently help organizing a coala hackathon taking place in Vienna in the beginning of May (https://pydays.at/_static/schedule.html#coala-hackathon) and eventually it makes sense to be on the team. Is it possible to be kept without an issue or a PR?
Thx!

[2017-03-28 15:33] adtac commented on #74
@caichinger absolutely, no problems! I'm removing you from the list of users to be removed. Thanks for letting me know :)

[2017-03-28 15:34] cosmin296 commented on #74
I removed myself from the organization. Can I be removed from this emailing
list as well please?

Pe 28 mar. 2017 6:33 PM, "Adhityaa Chandrasekar" <notifications@github.com>
a scris:

[2017-03-28 15:43] adtac commented on #74
@cosmin296 you can unsubscribe by clicking on "Unsubscribe" to the right (in the github interface). I'm afraid I can unsubscribe you from the issue myself.

[2017-03-28 15:44] adtac commented on #74
*I'm afraid I **can't** unsubscribe you from the issue myself.

[2017-03-28 16:05] anant3110 commented on #74
Please remove me too. Please accept me if I come back.

Thank You,

On 24-Mar-2017 8:46 PM, "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

[2017-03-28 16:19] decay-boss commented on #74
please remove me too

On Mar 28, 2017 9:35 PM, "anant3110" <notifications@github.com> wrote:

[2017-03-28 16:24] shaurya96 commented on #74
Remove me too.

On 28-Mar-2017 9:50 PM, "decay-boss" <notifications@github.com> wrote:

[2017-03-28 16:37] phuongtam95 commented on #74
Hi, please remove me too :) Thank you!

On Tue, Mar 28, 2017 at 11:24 AM, shaurya96 <notifications@github.com>
wrote:

[2017-03-28 17:26] adtac commented on #74
@coala/to-be-removed please remove yourself from the org if you want that immediately (go [here](https://github.com/settings/organizations) and click "Leave" to do that). I will be removing everybody in the list (unless you explicitly ask otherwise) in a few days, so you can alternatively sit tight if you want me to do that :)

And please don't reply with "please remove me too" - about 150 people

[2017-03-28 17:28] coala-bot opened #75 "Add a badge that linters can display on their README saying they support coala"
like https://img.shields.io/badge/coala%20support-yes-green.svg

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=58da9d4cb52518ed4db7b9d1) by @adtac

[2017-03-28 17:31] dragospetrescu commented on #74
Please remove me. I'm receiving too many emails.On 28 Mar 2017 20:26, Adhityaa Chandrasekar <notifications@github.com> wrote:@coala/to-be-removed please remove yourself from the org if you want that immediately (go here and click "Leave" to do that). I will be removing everybody in the list (unless you explicitly ask otherwise) in a few days, so you can alternatively sit tight if you want me to do

[2017-04-01 11:32] adtac commented on #74
@coala/to-be-removed this will be the last email - you will be removed shortly.

(And don't worry, this thread has been locked and limited to just collaborators, so you won't get any more spam.)

[2017-04-01 20:58] adtac commented on #74
Closing this issue as all users have been removed.

Buh-bye!

[2017-04-01 20:58] #74 closed

[2017-04-02 14:18] coala-bot opened #76 "Adopt first_timers_only label"
http://www.firsttimersonly.com - should we rename/relabel/also-label (some of) our newcomer as first_timers_only ?
https://mobile.twitter.com/first_tmrs_only

Opened via [gitter](https://gitter.im/coala/coala/?at=58e1083c0e4137042ad6a98e) by @jayvdb

[2017-04-02 14:19] meetmangukiya commented on #76
There is up-for-grabs as well, why should we prefer this over that?

[2017-04-04 12:28] coala-bot opened #77 "Add coala to https://github.com/bekicot/gsoc-prep-tasks"
Opened via [gitter](https://gitter.im/coala/coala/?at=58e391620e4137042ae0c5fd) by @jayvdb

[2017-04-05 09:06] jayvdb commented on #77
Pending : https://github.com/bekicot/gsoc-prep-tasks/pull/13

[2017-04-07 04:01] adhikasp commented on #77
@jayvdb the PR already merged and deployed, so this issue could be closed 👍

[2017-04-09 05:01] #77 closed

[2017-04-09 05:07] jayvdb opened #78 "Stale invites"
Similar to https://github.com/coala/coala/issues/3645 , should we should also periodically cancel stale old invites to ["newcomers" team](https://github.com/orgs/coala/teams/coala-newcomers).

Currently there 66 pending invites.
I cant think of any benefit of removing them, unless they are junky usernames.
I have just removed 'self', 'me', and something else similar.

There is also an invite for h

[2017-04-18 09:25] jayvdb opened #79 "Rename this repository as 'meta'"
This repo would then be where non-code issues would be created, like https://github.com/coala/coala/issues/4117 , so that `coala/coala` only has issues which are about changes to that repo.

[2017-05-09 11:51] adtac opened #80 "Core team meeting"
Hi @coala/core-team

I'm thinking of setting up bi-weekly (weekly is too frequent to report meaningful stuff I feel) meetings. This will be a one-hour thing at most. There are a few items on the core team's roadmap and it'd be awesome if all of us were on the same page. The agenda of these meetings would be something like this: everyone talks about what they're doing/planning on doing for 5 minute

[2017-05-09 11:54] sils commented on #80
I'm in I think it's good for us to actually form more of a team and gain
focus!

[2017-05-14 12:41] jayvdb opened #81 "Add coala to the awesome jekyll themes hosted on GitHub"
Run coala on each of these awesome repositories : https://github.com/planetjekyll/awesome-jekyll-themes

Fix any problems, and try to add a `.coafile` to their repository.

The process is described in the GCI tasks : https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala

[2017-05-14 12:42] jayvdb commented on #58
First group to work on is https://github.com/coala/engagement/issues/81

[2017-05-23 18:28] jayvdb commented on #79
It has been renamed.
I think it would be too disruptive to migrate/close existing meta issues currently in other repos.
New meta issues appearing elsewhere should be closed promptly, so the meta grows.

[2017-05-23 18:28] #79 closed

[2017-05-23 18:32] jayvdb commented on #67
Was done: http://wordpress.schuirmann.eu/2017/02/google-code-in-at-coala/

[2017-05-23 18:32] #67 closed

[2017-05-24 08:15] underyx opened #82 "For the love of god get rid of the weekly comment spam on inactive PRs"
I have over a hundred emails which are just these comments. I keep having to unsubscribe from discussions to avoid all the notifications on PRs I'm interested in that are inactive. It also pollutes the comment thread with a tower of useless crap messages.

[2017-05-24 16:26] meetmangukiya opened #83 "Auto close PRs after some time of inactivity"
As of now we have 130+ PRs on coala and 70+ in coala-bears. Most of them are inactive I think. But for new contributors it might occur that either the community is not reviewing much. I think it can have a negative effect, maybe?

[2017-05-24 16:53] Makman2 commented on #83
Maybe we should just bust them ourselves. Maybe we need a new PR buster team ;P

I don't wanna lose those PRs, some of the authors have really put some work into those.

[2017-05-24 18:25] SanketDG commented on #83
^ Agree 100%, closing PRs is never the solution. Inactivity can be of various forms and is independent of the work and effort put in the PR.

Adding to this, I have been thinking of busting PRs (preferably important ones) in chunks for like three weeks now, I will definitely come around to do this, once I get some time in my hands.

[2017-05-24 19:28] meetmangukiya commented on #83
Ok, what do you guys mean by busting PRs :/ sounds synonymous​ to closing it :P

[2017-05-24 22:43] Makman2 commented on #83
to bust a PR = taking over the PR and finish it
(official entry into dictionary requested :D)

I already wanted to take up some too, though together with thesis work this has to wait.

[2017-05-25 03:18] meetmangukiya commented on #83
:+1: one can easily bust 8-10 newcomer PRs a day and maybe around 3-4 low in a week ;)

[2017-05-25 12:24] meetmangukiya commented on #83
Auto label PRs as `bust!` after 2 months of inactivity?

[2017-05-25 17:39] Makman2 commented on #83
Like it :D

[2017-06-01 01:48] coala-bot opened #84 "Add coala to https://github.com/chaosbot/Chaos"
Opened via [gitter](https://gitter.im/coala/coala/?at=592f7272fa63ba2f769d476a) by @jayvdb

[2017-06-01 02:02] jayvdb commented on #84
We should create a custom optimal docker for this repo (in coala initially) containing only the runtimes needed, and offer to transfer it to the chaos org, so that the Chaos team can also go crazy with it.
@cc yukiisbored

[2017-06-01 05:46] meetmangukiya opened #85 "Add waffle to coala/corobo"

[2017-06-02 18:23] jayvdb opened #86 "100% coverage in all repos"
All repos should have:

1. 100% coverage, and then
2. 100% branch coverage, and then
3. very limited use of `# pragma: no cover'

- [ ] [coala-utils](https://gitlab.com/coala/coala-utils/issues/7)
- [ ] coala-quickstart - 61% for [2 June 2017](https://circleci.com/gh/coala/coala-quickstart/211)

[2017-06-02 18:26] jayvdb opened #87 "AppVeyor testing in all repos"
coala should have AppVeyor testing of Windows environment in all repos, unless the repo has significant explicit dependencies on unix specific environment, and especially if the repo has any windows specific branches as part of meta code coverage (https://github.com/coala/meta/issues/86)

- [ ] [coala-utils](https://gitlab.com/coala/coala-utils/issues/33)
- [ ] [coala-quickstart](https://github.co

[2017-06-03 06:05] meetmangukiya commented on #86
I am ensuring the same on corobo, CI fails if coverage is less than 100. :+1:

[2017-06-03 06:24] coala-bot opened #88 "Set up translation"
Opened via [gitter](https://gitter.im/coala/coala/?at=5932562531f589c64f6d574c) by @jayvdb

[2017-06-03 06:27] jayvdb commented on #88
Apparently there was some translation but it was discontinued.

We should reattempt it, at least for user docs.
It would also be useful for dev docs, to help with GCI in December.

[2017-06-03 06:28] jayvdb commented on #88
I recommend @weblate, which is OSS and provides hosting for OSS.

[2017-06-04 16:56] jayvdb opened #89 "Request coala become an OpenHub organisation"
https://OpenHub.net provides good basic analytics for within a project, but more importantly it offers something other project analytics tools can't (easily) : information about our developers in other codebases.

An OpenHub organisation can include many projects, which means we can split the [`coala`](https://www.openhub.net/p/coala/) project (which include all repos) into many distinct projects,

[2017-06-12 04:24] jayvdb commented on #82
I believe this will be solved by gitmate-2, which is very close to being 'good enough' to replace gitmate.

[2017-06-12 09:00] jayvdb commented on #88
I understand the previous attempt was using zanata ; c.f. https://github.com/coala/rultor-python/issues/11

[2017-06-13 14:33] Makman2 commented on #88
It was really a burden with zanata, I'm not sure we want this again right now. coala is changing heavily still^^

[2017-06-17 15:15] jayvdb commented on #89
Found it: https://www.openhub.net/topics/8043?page=6

A very detailed response from OpenHub explaining how to apply:

[2017-06-24 16:27] coala-bot opened #90 "Remove/rename gitlab documentation and devops repos"
Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=594e930d4bcd78af563f5523) by @jayvdb

[2017-06-27 04:16] meetmangukiya opened #91 "Add algolia docsearch to docs"
Current search is simple keyword search. Algolia docsearch does a pretty good job in searching documentations. It is being used at docs.gitlab.com if you are looking for an example

[2017-07-01 18:27] meetmangukiya commented on #90
Since `documentation` and `devops` named repositories exist on both github and gitlab. And github repositories are more active than the gitlab ones which have not received any activity for ~8 months.

documentation repo is actually moved from gitlab to github. So gitlab one is a stale repo.
devops repos on gitlab and github do not share any history, they are different.

Reason for renaming:
1. It

[2017-07-01 18:37] jayvdb commented on #90
https://gitlab.com/coala/documentation/commit/e7262517 (HEAD of master, Aug 24, 2016) is not in github : https://github.com/coala/documentation/commit/e7262517 .  The github and gitlab repos both started with b95263b11, and they are identical up to https://github.com/coala/documentation/commit/891a78a , the second last commit on gitlab.

Thus, I agree that https://gitlab.com/coala/documentation/ s

[2017-07-02 08:25] jayvdb opened #92 "Create list of one large repo per language with sample .coafile"
Bear tests are smallish codebases.

For more detailed integration tests, we need a large repo with clean code that coala can run successfully on, with sample config.

Some suitable repos might be found in the GCI 2016 spreadsheet.

[2017-07-02 08:26] jayvdb commented on #92
Probably best done on the coala wiki, or the docker wiki.

[2017-07-02 08:31] jayvdb commented on #92
Suggestions:

- pandoc for Haskell

[2017-07-02 08:32] jayvdb commented on #92
`git` repo has a lot of languages.

[2017-07-06 11:55] jayvdb opened #93 "Rebase bot"
There are several stable rebase bots in operation. We should deploy one, or integrate functionality into gitmate.

[2017-07-06 12:01] sils commented on #93
"… waits for tests and merge automatically when green" that's charming. I want that. If it fastforwards and doesn't merge, if we wanted that we'd have the pypi deployment in a master job instead of in the rultor merge.

[2017-07-07 13:04] jayvdb commented on #88
@makman2, was it used for user docs or CLI messages?

Anyway, with weblate, there should be no cost on devs. The translation is a separate project, in separate repo.

[2017-07-07 16:23] Makman2 commented on #88
CLI messages indeed ;)

But also for user docs: it affects the same "brand" coala. Not complete or bad translations do reflect on us^^ If we don't care for it officially in this state, we get less quality content imo (at least that's my feeling currently). This might change in future when our "fanbase" grows far enough to trust on reliable content.

[2017-07-09 09:32] chauffer commented on #90
coala/devops on GitLab can definitely be deleted; at its current state it's useless.

[2017-07-09 15:41] meetmangukiya commented on #90
Thanks @chauffer @jayvdb we have a  green flag, wanna delete those then?

[2017-07-10 08:40] jayvdb commented on #90
I have deleted `devops` as it was almost empty with only a few unusable files (no issues, MRs, pipelines, etc).

I have renamed `documentation` to [`documentation-old`](https://gitlab.com/coala/documentation-old) as it does have issues, especially open issues, so the history is worth keeping until someone has time to assess that.

[2017-07-10 08:40] #90 closed

[2017-07-17 16:48] sils commented on #82
@underyx we're starting to use gitmate-2 and phasing out gitmate-1. The weekly spam should reduce until it's gone right now :)

[2017-07-17 17:24] underyx commented on #82
Is it not easy to just turn it off, though?

On Mon, Jul 17, 2017, 6:55 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2017-07-30 06:55] meetmangukiya commented on #91
1. DocSearch is almost instantaneous and way faster than the one offered by sphinx by default.
2. DocSearch provides auto-completion on search.
3. It provides live searching.

[2017-07-30 09:13] yukiisbored commented on #91
Will it work even without javascript?

[2017-07-30 09:44] meetmangukiya commented on #91
No, it most probably uses AJAX for live searching, else it wont work

[2017-07-30 14:55] hemangsk commented on #91
Live search is definitely good. There is also Mkdocs, used for GitMate documentation, which has a similar feature, but that is a different platform altogether. Agolia docsearch looks like a great idea.

[2017-07-30 15:02] jayvdb commented on #91
@yukiisbored , does Sphinx search work without javascript?  If so, we'd need to verify DocSearch degrades gracefully.

[2017-07-31 06:51] yukiisbored commented on #91
@jayvdb Actually, i just noticed it won't even show up.

[2017-07-31 07:14] jayvdb commented on #91
What "wont even show up" ?; Sphinx or Agolia DocSearch ?

[2017-07-31 07:20] yukiisbored commented on #91
Sphinx.

Javascript enabled: https://my.mixtape.moe/jvscjw.png
Javascript disabled: https://my.mixtape.moe/glzimk.png

[2017-07-31 07:25] yukiisbored commented on #91
Since I can't find any algolia docsearch instance that uses Sphinx. I'm trying it out on Vue.js and the search box came up but I can't search (The Enter button doesn't work, most likely it's handled in JS instead of a HTML Submission form)

[2017-08-01 17:12] meetmangukiya commented on #91
@yukiisbored yes, there is no form submission, it checks if the text in the input box is changed and shows the search results in the dropdown as you type.

[2017-09-06 15:32] co-robo opened #94 "coordinate pycon india"
Opened by @jayvdb at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59b0151d66c1c7c47720149b)

[2017-09-06 16:02] damngamerz commented on #94
Im in :wink:

[2017-09-06 16:14] satwikkansal commented on #94
I'm in :tada:

[2017-09-06 17:07] hemangsk commented on #94
I'm in 🎆

[2017-09-06 19:39] RJ722 commented on #94
Count me too! 🤙

[2017-09-06 21:11] yash-nisar commented on #94
I'm in :rocket:

[2017-09-09 03:40] yukiisbored commented on #94
yuki-desu

[2017-09-14 04:07] jayvdb commented on #93
Hmm, the text you are quoting has disappeared from memory.  Perhaps it was in gitter?

Anyway, gitmate now does some of this.  Is it stable and working @sils?
So perhaps we create new issues for related ideas and close this one, or expand the scope & title of this issue.

[2017-09-14 04:08] jayvdb commented on #91
@meetmangukiya , this is finished?

[2017-09-14 04:08] jayvdb commented on #85
@meetmangukiya , you still want this?

Is waffle open source?

[2017-09-14 04:14] jayvdb commented on #83
gitmate supports auto-labelling, and in coala repo it is active labelling as "status/STALE".

If we are going to close PRs, we also need to unassign the relevant issue.

I feel that this will be very helpful for beginner & extra-small PRs, which are usually busted.

But honestly I would prefer gitmate focuses on "busted" detection so we can have a queue of (newcomers) people who PR is busted and w

[2017-09-14 04:27] meetmangukiya commented on #91
Yes

[2017-09-14 04:27] #91 closed

[2017-09-14 04:35] jayvdb commented on #84
Chaos bot lives again https://github.com/Chaosthebot/Chaos/issues/559

[2017-09-14 06:17] sils commented on #93
- gitmate sets an approval label when everything goes green
- gitmate rebases when being commanded to

[2017-10-05 14:29] supergr35 opened #95 "Add org pictures to Docker Profile"
The coala docker profile only has the default, blank profile picture. It'd look better with our org picture.

[2017-10-05 18:39] supergr35 opened #96 "Fix the org pictures on Gitter"
Right now on gitter, the pictures for our channels are broken and don't show up.

[2017-10-06 10:58] cRAN-cg commented on #94
I am in

[2017-10-06 18:07] vikramverma1997 commented on #94
I am in!

[2017-10-07 07:13] proishan11 commented on #94
I'm in

[2017-10-07 08:44] aptrishu commented on #94
I'm in.. :+1:

[2017-10-09 13:00] arpitsimt commented on #94
yes

[2017-10-11 12:10] mohdomama commented on #94
I am in :)

[2017-10-20 00:49] jayvdb commented on #89
I have initiated a request at https://www.openhub.net/topics/8043?page=6

[2017-11-03 10:50] adtac opened #97 "Removal from the organization"
Hello!

You have been listed for removal from the organization. You were added to the list if you do not have any message in [coala's main channel](https://gitter.im/coala/coala) in the past 2+ months (since August 27).

Admittedly, this is not an infallible criteria for removal. It is very much possible that you have been active (through messages/pull requests/issues). If so, I apologize. Please

[2017-11-03 10:53] adtac commented on #97
@coala/pending-removal

[2017-11-04 00:00] jayvdb commented on #95
[Docker Hub settings](https://hub.docker.com/u/coala/dashboard/settings/) require a gravatar email to be set up.

It looks like Docker Cloud is the same, as I dont see any option to upload logo .

I think we need one email address like `contact@coala.io` or `devnull@coala.io` which we use for the gravatar.

[2017-11-05 07:00] adtac commented on #97
@coala/pending-removal It has been brought to my attention that this filtering is super-inaccurate. Because of this, I'm deleting the list - nobody will be removed from the organization until a more accurate mechanism has been devised.

Apologies!

[2017-11-06 07:19] co-robo opened #98 "Investigate a 'Python 3 only' shield"
Ideally it indicates how much of the code is using Python 3 features like annotations
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a000d1397cedeb0482b8ca9)

[2017-11-06 07:22] jayvdb commented on #98
Scrapy had a "Python 3 porting" percentage badge https://github.com/scrapy/scrapy/issues/1454 , probably with a tool manually calculating the percentage and generating the .svg, maybe we can find something similar.

[2017-11-06 09:04] aashutoshrathi commented on #98
A similar badge is `[![PyPI](https://img.shields.io/pypi/pyversions/Django.svg)]()` [![PyPI](https://img.shields.io/pypi/pyversions/Django.svg)]() and also we can make custom badges at https://shields.io/

[2017-11-18 14:55] jayvdb opened #99 "Repository management"
We have a lot of repositories, which need managing, tracking and auditing, and a hell of a lot of dependencies, which need tracking too.

Lots of things need to be build, but the first seems to be actually listing the repositories, which is not actually easy for normal folk to do without org access.

I've been looking at [gitshelf](https://github.com/gitshelf/gitshelf) and [rosinstall](https://git

[2017-11-18 15:15] jayvdb commented on #99
Another interesting tool is Android's [`Repo`](https://source.android.com/setup/using-repo), which uses a configuration file like [`default.xml`](https://android.googlesource.com/platform/manifest/+/master/default.xml)

[2017-11-19 15:29] jayvdb commented on #93
Raised https://gitlab.com/gitmate/GitMate-2-ideas/issues/33

[2017-11-19 15:29] #93 closed

[2017-11-19 15:29] jayvdb commented on #94
That happened.

[2017-11-19 15:29] #94 closed

[2017-11-19 15:32] jayvdb commented on #53
I think we have one now @Makman2 and @adtac , and better ones to come...
Can close, or keep open to do more on them?

[2017-11-19 16:48] #53 closed

[2017-11-19 16:50] Makman2 commented on #53
I think better ones to come, the topic "coalang" has many new directions which should be tackled by new issues / projects imo^^

[2017-11-20 07:27] co-robo opened #100 "Create generic research task to list features in a linter which are available in the bear"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a1283c571ad3f873607a11a)

[2017-11-21 00:32] co-robo opened #101 "Create git commit hook in all repos to check commit messages"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a137438ba39a53f1ac53a72)

[2017-11-21 04:11] jayvdb commented on #101
Ideally this relies on the smallish possible "coala" with only the [GitCommitBear](https://pypi.python.org/pypi/GitCommitBear), but it should be upgraded to a more recent release..

[2017-11-22 03:19] jayvdb commented on #19
Is this needed any more?

[2017-11-22 03:24] jayvdb opened #102 "Release-based performance information"
Copied from https://github.com/coala/website-old/issues/50

We have a project for [commit based performance data](https://github.com/coala/projects/blob/master/_projects/commit_based_perftest.md)

But coala needs release based performance information; running coala on a consistent setup, using real codebases such as https://github.com/coala/meta/issues/92 , and checking the time to complete.

[2017-11-22 09:28] sils commented on #19
no

[2017-11-22 09:28] #19 closed

[2017-11-22 10:05] jayvdb opened #103 "Clarify what it means to become a developer"
Everybody wants to become one , nobody knows what to do once they get it.

Based on https://gitlab.com/coala/cobot/issues/51 by @SanketDG

[2017-11-22 11:20] jayvdb opened #104 "Repository list cleanup"
coala Repos which already have issues turned off,
but probably should be enabled..?

- https://github.com/coala/school.coala.io

Not coala, and I havent touched them yet, but I feel they should find a new home

- https://github.com/coala/docker-coala-socialx (also broken, as coala base repo doesnt have pacman now)
- https://github.com/coala/confer-frontend
- https://github.com/coala/confer-backend

[2017-11-22 11:24] sils commented on #104
I've archived

- https://github.com/coala/docker-coala-socialx
- https://github.com/coala/confer-frontend
- https://github.com/coala/confer-backend

all of which are coala projects which never really happened.

[2017-11-23 18:17] jayvdb opened #105 "Build list of recommended GitHub browser extensions that support our model"
http://awesomelists.top/ - search for github , compile a more useful list of tools that are well aligned with coala processes , and we can find where to recommend them in the developer docs.

(This is an offshoot of https://gitlab.com/coala/documentation-old/issues/32)

[2017-11-24 10:04] nkprince007 commented on #82
Comment spam is now gone with gitmate-2

[2017-11-25 18:45] #82 closed

[2017-12-04 21:49] jayvdb commented on #89
This was done.
Lots of cleanup required to re-organise the repos into separate projects.

[2017-12-13 08:10] jayvdb opened #106 "Build the Wikidata information about coala"
coala is [software](https://www.wikidata.org/wiki/Q25215462).
coala is [an organisation](https://www.wikidata.org/wiki/Q45337328).

Both are fairly poorly described.

Not surprisingly, [MediaWiki](https://www.wikidata.org/wiki/Q83) and [Wikimedia Foundation](https://www.wikidata.org/wiki/Q180) are a good example to follow for the way to describe software components in the Wikidata ontology.

[2017-12-18 07:12] jayvdb opened #107 "GSoC milestone tracking"
As a yearly event, we need to build systems that streamline our GSoC processes and systems.  We currently use GitLab repositories for tracking milestones.

We have https://gitlab.com/coala/GSoC-2017/ and https://gitlab.com/coala/GSoC2016, with slightly different repository names.  We should use a consistent naming convention so that these gitlab tracking repos can be easily accessed by other syste

[2017-12-18 07:21] jayvdb commented on #107
Worth exploring if there are other approaches we might use to track milestones; cloud project management type tools.  But only if it is better than GitLab, and only if they provide better APIs than GitLab, which can be supported via IGitt (see https://gitlab.com/gitmate/open-source/IGitt/issues/62 )

[2017-12-22 03:40] jayvdb opened #108 "GitMate turned off 21 December 2017"
The gitmate incident report is at https://gitlab.com/gitmate/open-source/gitmate-2/issues/275

To be consistent, times are in GMT+1

At 21 December 2017 07:00 @jayvdb turned off gitmate on all repositories.

The first incident event was on 20 December 18:59 @adtac (coala) [reported](https://gitter.im/GitMateIO/support?at=5a3aa63cba39a53f1a8423a7) the problematic activity on Gitter "GitMateIO/suppo

[2017-12-22 03:56] jayvdb commented on #108
It seems reasonable to re-enable now.  It would be wise to re-enable only on a few unimportant repos on GitHub & GitLab for 24 hrs as we dont know when any cron jobs are being run.

[2017-12-23 02:20] jayvdb commented on #108
Just now I've enabled on

- https://github.com/coala/workshops (commenting as @sils , as @gitmate-bot isnt in the list, manually configured a little) .
- https://github.com/coala/website-old (commenting as @gitmate-bot, manually configured a little)
- https://github.com/coala/artwork (copied config from website-old and added more options)
- https://github.com/coala/cEPs (commenting as @gitmate-bot

[2017-12-23 02:46] nkprince007 commented on #108
@jayvb, a refresh of the UI is due soon. It will soon only show active repos and provides you with an option to add/remove them like all other CI. Instead of populating all of them.

[2017-12-23 02:54] jayvdb commented on #108
@nkprince007  You've pinged the wrong person; `JayVB` instead of ... me.

[2017-12-23 07:24] jayvdb commented on #108
Update, I've re-activated GitMate on a few coala GitHub repos (devops; frontend-landing, and docker).
We've found that GitMate is not *immediately* removing the stale labels when there is activity.
On cEPs, I fiddled with the GitMate settings a little, and it started working.
We've encountered a similar problem with the docker repo, but havent pinned down the cause or the workaround yet.

[2017-12-23 12:05] sils commented on #108
Any example?

[2017-12-24 01:52] jayvdb commented on #108
Discussion was on https://gitter.im/GitMateIO/support , with @nkprince007

[2017-12-29 17:26] sils commented on #108
@jayvdb please note that GitMate doesn't count labelling or assignment changes as activity. Comments for sure and I think also if someone opens a pull request that mentions the issue.

As for GitMate-bot not appearing for the workshops repo: the repo wasn't configured, no team had access to the repo.

[2017-12-30 17:04] Makman2 commented on #108
coala and coala-bears run gitmate again, however I deactivated as many non-crucial features as possible that affect labelling.

[2018-01-03 03:26] jayvdb opened #109 "Open Badges"
For Google Code-in we looked into Open Badges a little.
It would also be useful as part of our general onboarding processes.

I've found a relevant discussion indicating it isnt easy at

https://github.com/24pullrequests/24pullrequests/issues/1704

[2018-01-05 06:39] jayvdb commented on #107
Based on '10' https://github.com/coala/coala/wiki/GSoC-2017-Application#anything-else-we-should-know-optional , and there were 8 in 2016, I assume there were 2 in 2015.  Is there any documentation about those two?

[2018-03-28 16:47] ishanSrt opened #110 "A git / PR / (basic steps to follow based on newcomer's guide) TEST before accepting org invite"
reference: https://gitter.im/coala/corobo?at=5abbbb61c4d0ae80070f018a to https://gitter.im/coala/corobo?at=5abbc4bfe4ff28713a8322d1

[2018-03-29 11:00] palash25 opened #111 "Documentation: Add guidelines on how members should show their association to coala on online platforms"
Recently I came across a GitHub profile of a guy who mentioned himself as a "Maintainer @coala"
On further investigation, I found out that he was just a member of the newcomer team and wasn't even a part of the developers team. (This has already been reported to John)
We need to lay down some ground rules for our members on how they should show their association to coala on different websites. For

[2018-03-29 12:55] palash25 commented on #76
This is a good idea since new contributors sometimes ask for more than one difficulty/newcomer issue and they are to be told to go for a higher difficulty issues. IMO the first-timers-only label makes it explicitly clear that only a first-timer can solve this issue, this might prevent newcomers from asking for assignment to multiple easy issues and encourage them to move on to harder ones.

[2018-03-30 09:35] ishanSrt opened #112 "How about letting developers ack PRs?"
These PRs can go in a separate queue for maintainers but will definitely not contain trivial errors. Gitmate can have one more state if PRs are asked by a developer, somewhat like pseudo passed but still not approved for merge.

[2018-03-30 09:41] ishanSrt commented on #112
@sks444 this may concern you

[2018-03-30 14:45] sks444 commented on #112
Thanks, @ishanSrt, we will be doing something like this in the gamification project :)
Also, corobo and meta-review project is related to it ;)

[2018-04-01 13:44] Makman2 commented on #112
Not sure if having multiple gitmate states is the right solution (I guess it makes things quite complicated, having different states for different GitHub teams), but in general a good idea :+1:

[2018-04-01 13:45] Makman2 commented on #76
I proposed recently to decouple our `difficulty/newcomer` label from the newcomer-eligibility. We would have a `difficulty/trivial` label and another `newcomer` label which marks issues to be suitable for newcomers.

[2018-04-06 10:07] palash25 opened #113 "VSCode Syntax Highlighter Plugin for .coafile"
I'll try to get started on a prototype in the coming weeks. Once it is working locally I will push the code to its own repository. If I'm not able to do it I'll comment on the issue and someone else can have it.

Originally opened here: https://github.com/coala/coala/issues/5277

[2018-04-07 10:54] jayvdb commented on #112
First question is whether gitmate can support it?

If not, this is a dead issue until gitmate supports it.

If you want it, go hack gitmate :P

Actually we have a gitmate plugins project, so this could potentially be done as part of that project.

[2018-04-11 23:49] jayvdb opened #114 "Enable travis-buddy on GitHub repos"
https://github.com/bluzi/travis-buddy provides a synopsis of the travis error on the pull request

https://travisbuddy.com

[2018-04-11 23:56] jayvdb commented on #114
I would suggest the following order

1. https://github.com/coala/documentation
2. https://github.com/coala/cEPs
3. https://github.com/coala/corobo
3. https://github.com/coala/coala-vs-code
3. https://github.com/coala/projects
3. https://github.com/coala/coala-html
4. https://github.com/coala/community
5. https://github.com/coala/coala-bears

And after each we check that it is working as expected b

[2018-04-12 10:16] manankalra commented on #114
There should be individual issues opened for this in the corresponding repos or just this issue should be referenced in the individual PRs?

[2018-04-12 11:02] jayvdb commented on #114
No need, just use `Related to https://github.com/coala/meta/issues/114`

[2018-04-12 13:00] palash25 commented on #114
Can this issue have multiple assignee? I think we can complete it much faster if we divide individual repos amongst ourselves. If you don't mind @manankalra .

cc @jayvdb

[2018-04-12 13:09] jayvdb commented on #114
Please read the issue again @palash25 .

[2018-04-14 23:12] Makman2 opened #115 "Split `difficulty/newcomer` label into `difficulty/trivial` and `newcomer` labels"
Just because an issue is trivial, it doesn't mean it's suited for newcomers.

[2018-04-15 06:04] palash25 commented on #115
So how would the newcomer process change after this.
I'm guessing they can still just do one `newcomer` issue and then move on to `trivial` and `low` issue ?
Can `trivial` be equivalent to `good-second-issue`?

[2018-04-15 18:43] Makman2 commented on #115
No `newcomer` wouldn't indicate a difficulty-level then, but just marks issues suitable for newcomers. This is now totally decoupled from the difficulty-levels. Usually all `difficulty/trivial` issues would be tagged with `newcomers`, but we can apply the label on other issues as well or not applying it at all, even for easier issues.

[2018-04-16 10:58] jayvdb opened #116 "mobanise .gitignore"
We should generate the .gitignore from a master list in https://gitlab.com/coala/mobans , so that new additions are replicated to all repos.

[2018-04-16 10:59] jayvdb opened #117 "mobanise everything"
There are lots of per-repo files which are often out of sync in some repos.

.gitignore is one : https://github.com/coala/meta/issues/116

Others?

[2018-04-16 11:06] sangamcse commented on #117
PULL_REQUEST_TEMPLATE.md, LICENCE

[2018-04-16 11:16] jayvdb commented on #117
`LICENCE` would require that the repo has the license file of each license we use.  luckily we only use a few.

Ideally we add them upstream in https://github.com/moremoban/pypi-mobans , so we grow the general moban system in the process.

[2018-04-18 09:58] jayvdb commented on #48
This was done as that CI1-3 series of GCI tasks, e.g. https://github.com/coala/projects/blob/master/_projects/use_coala.md

[2018-04-18 09:58] #48 closed

[2018-04-18 10:00] jayvdb commented on #49
This should be done at https://github.com/coala/projects

[2018-04-18 10:27] jayvdb commented on #89
Progress on cleanup is slow.  Closing.
No doubt gsoc projects this year will prompt further tidy up

[2018-04-18 10:27] #89 closed

[2018-04-18 12:52] jayvdb commented on #27
Unassigning due to inactivity.

[2018-04-18 18:39] jayvdb commented on #115
I do like the term 'trivial' as a difficulty level.

'newcomer'-friendly is orthogonal to difficulty levels, but we tend to not get difficulty levels right either.

I dont think it makes sense to change our current system until we have a better methodology for choosing trivial, low, medium difficulty (at the moment is only slightly better than completely random for newcomer vs low), and describe w

[2018-04-18 18:55] jayvdb opened #118 "Offboarding process"
Each good developer we loose is a failure in our systems.

We need offboarding processes to try to understand how we failed.

We can also force failure by incorrectly assuming we have already lost the individual, when the cause was they had other priorities.

inactive doesnt imply disinterested, and shouldnt be reason for rejection.

And not everyone is a coder.

https://github.com/coala/coala/iss

[2018-04-21 19:50] Makman2 commented on #115
Not necessarily, I (and some others) wanted to not mark documentation issues as newcomer-friendly as soon as writing new documentation is involved (even if it's trivial to just add 1-2 sentences).

Yeah this is always a problem. However I think we aren't doing it *that* bad :) Can still be improved though :D

So you want to align `difficulty/trivial` to the definition of newcomer-suitability?

[2018-04-22 12:39] jayvdb commented on #114
Another option is to enable [travieso](https://github.com/wizeline/travieso)

maybe we try that after travis-buddy, if we dont like travis-buddy.

c.f. https://github.com/coala/coala/issues/4891

[2018-04-25 06:24] RJ722 opened #119 "coordinate coala-con 2018"
The plan is to meet at some time around mid-July (because of the GCI trip and GSoC evaluations).

Potential options:
- Having a local group (like PyDelhi) arrange a meetup.
- DevConf India
- PyCon India

Suggestions are welcome.

[2018-04-25 11:59] jayvdb commented on #119
Ideally we find some other gsoc orgs that have both Indian mentors and students, and we share the efforts of setting it up, and gain some economies of scale.

[2018-04-26 05:53] nkprince007 commented on #112
Uhm, we could change the context & description of the commit status API (both GitHub & GitLab) stating that it was acknowledged / unacknowledged by so and so no. of developers, while still marking it as pending. And we could mark it as approved when a maintainer acks the PR.

Not sure if we could visualize the queue as requested without making some heavy changes to the GitMate.io UI.

[2018-04-26 06:17] ishanSrt commented on #112
maybe just make gitmate set extra tags and labels, which can be filtered in GitHub issue search

[2018-04-26 18:01] jayvdb commented on #119
See also #94 (coordinate pycon india 2017)

[2018-04-26 18:49] jayvdb commented on #112
The solution definitely needs to use labels which form the basis of the work queues.

I would be happy enough if developer-acked PRs were given the 'process/approved' label, but the check statuses would still be pending until the maintainer also does an `ack`.  Perhaps rather than allow use of `ack`, developer might use something else, like `pack` for 'partial ack', or `dack` for `developer ack'.

[2018-04-27 05:41] yukiisbored opened #120 "Nextgen Solar"
- [x] Move to Debian
- [x] Redeploy existing services
- [ ] Move coala/devops to GitLab
- [ ] Setup Nomad/Consul/Vault
- [ ] Migrate Compose files to Nomad jobs
- [ ] Setup Continuous Deployment to Nomad from coala/devops
- [ ] Store secrets in Vault
- [ ] Setup Traefik to WAF based on Consul
- [ ] Migrate projects (corobo, webservices) to use Nomad for CD.
- [ ] Write guidelines so any other admi

[2018-04-27 05:41] yukiisbored commented on #120
@jayvdb can I get an empty repo in GitLab for coala?

[2018-04-28 06:11] manankalra commented on #114
travis isn't set up for cEPs; needed?

[2018-05-02 01:35] jayvdb commented on #114
https://github.com/coala/documentation/pull/555#issuecomment-385757936 - a buddy error.  looks nice!

ok, skip that one for now.

[2018-05-02 01:36] jayvdb commented on #120
Group https://gitlab.com/coala/solar was created

[2018-05-02 08:56] manankalra commented on #114
For corobo:
As per my knowledge, https://github.com/travis-ci/travis-ci/issues/5121 isn't solved yet. Also, the docs do not mention anything of this sort - https://docs.travis-ci.com/user/notifications/#Configuring-webhook-notifications.

Will have to omit `on_success: never` for now.

[2018-05-03 00:41] jayvdb commented on #114
Before doing bears, here are some more to give us some experience with it

1. https://github.com/coala/coala-quickstart
2. https://github.com/coala/gci-leaders
3. https://github.com/coala/gh-board
4. https://github.com/coala/coala-emacs
5. https://github.com/coala/landing-frontend

[2018-05-03 09:03] manankalra commented on #114
Should I open PRs for all of them?
There seems to be no ongoing contribution activities in any of the above repos (other than _gh-board_). Shouldn't we first test it on _coala-bears_ then?

[2018-05-03 14:20] yukiisbored commented on #120
TODO has been revised. Showcasing realistic progress.

[2018-05-06 04:07] jayvdb commented on #112
Another way to do this is replace gitmate ack functionality with the github native review system which now allows a custom list of reviewers. I guess we can set it to require a review from the developers group.

[2018-05-06 04:12] jayvdb commented on #112
I think GitHub requires a [CODEOWERS](https://help.github.com/articles/about-codeowners/) to let developers approve changes.

[2018-05-06 04:17] jayvdb commented on #112
https://github.com/coala/cEPs/issues/122

Also should try on docs repo

[2018-05-11 04:25] jayvdb commented on #112
@ishanSrt , you want to try setting it up for one repo : https://github.com/coala/cEPs/issues/50

[2018-05-26 15:50] bluzi commented on #114
Hey guys,

It looks like you've been using TravisBuddy for more than a month now, so I was just wondering if there's anything you think we can improve or add?

[2018-05-31 04:18] palash25 commented on #25
I don't think thinkfoss.com is operational anymore should we close this issue?

[2018-05-31 10:22] AbdealiLoKo commented on #25
Looks dead since 2016
https://github.com/thinkfoss/website

[2018-05-31 10:22] #25 closed

[2018-06-01 04:12] palash25 opened #122 "Design a coala README badge"
Currently coala is mostly used by its own developers. I was thinking that it would be nice to have a badge which says something like *Linting by coala* or *Linted using coala*  that all the coala devs can add to the README.md of their projects that use coala for linting.

A few coalians (like adtac) have some popular projects that might help us get a wider user base.

[2018-06-04 05:27] jayvdb commented on #108
Most repos have been re-activated.

Closing as resolved.

[2018-06-04 05:27] #108 closed

[2018-06-05 11:10] jayvdb commented on #116
Migrated to https://gitlab.com/coala/mobans/issues/31

[2018-06-05 11:10] #116 closed

[2018-06-07 22:47] jayvdb commented on #114
Interesting missing error at https://github.com/coala/corobo/pull/550#issuecomment-395577123

[2018-06-08 11:17] manankalra commented on #114
Here, too. - https://github.com/coala/corobo/pull/552

[2018-06-09 09:09] li-boxuan commented on #114
TravisBuddy copies too much log. 😕 That's a lot of network traffic, especially when we use API to fetch comments.

[2018-06-09 09:29] jayvdb commented on #114
Probably https://github.com/bluzi/travis-buddy/issues/109 @bluzi

Also some feature requests https://github.com/bluzi/travis-buddy/issues/created_by/jayvdb

@li-boxuan , can you link to some large comments. @bluzi may know how to fix them.

[2018-06-09 09:33] li-boxuan commented on #114
This is a large comment: https://github.com/coala/community/pull/143#issuecomment-395946259

[2018-06-09 09:35] jayvdb commented on #114
Any large comments in JS projects?

TravisBuddy doesnt have code for python specific projects yet.

[2018-06-09 09:45] bluzi commented on #114
Thanks a lot guys! that's super helpful!

<hr />

Thanks, will definitely look into it

<hr />

Awesome, thank you!

<hr />

Definitely a bug, TravisBuddy should break the log using the `scripts` supplied in `.travis.yml`. Instead this comment contains the entire raw log.
Will look into it and get back to you.

[2018-06-09 09:49] li-boxuan commented on #114
Not sure if this is also a 'large' comment (JS project) https://github.com/coala/gci-leaders/pull/149#issuecomment-386820394

[2018-06-09 10:07] bluzi commented on #114
Nope.
[As you can see in the build log](https://travis-ci.org/coala/gci-leaders/builds/375317464?utm_source=github_status&utm_medium=notification), the raw log is a lot bigger. TravisBuddy extracted the log of the executed command (`npm run build`), so that's by design.

[2018-06-11 00:53] jayvdb commented on #92
Another aspect to this is sometimes it is quite difficult to get CI to play nice with the .coafile, so the configuration for CI needs to be also done.

[2018-06-11 16:02] RaiVaibhav commented on #119
@jayvdb I can talk to Mercurial.

[2018-06-11 18:51] utkarsh2102 commented on #119
That's amazing.
I'd love to be a part of this, if this is happening again?

Also,
We're having regular DevSprints in PyDelhi.
The latest one is on 23rd June, 2018. And it happens every 4 weeks.
If the community is here in India, how about meeting up in a DevSprint in PyDelhi, India?
Also, we are looking for a mentor who could mentor `coala` in the DevSprint, anyone up for the same? :see_no_evil:

[2018-07-11 02:34] jayvdb opened #123 "2018 release strategy"
cliffs notes: The path to getting back to continuous delivery:

1. all repos use git+...master for each coala dependency
2. do a manual pre-release of each repo, to get the ball rolling again.
3. the docker repo is fixed again & CD scripts rewritten
4. all repos do an automated pre-release using CD,  starting with libraries and then core and bears and quickstart, and then the docker
5. all repos d

[2018-07-29 17:00] #97 closed

[2018-08-10 03:49] jayvdb opened #124 "Rewrite gsoc patch collector as Python"
This is used by students to do submissions:

https://github.com/sils/configurations/blob/master/scripts/git/collect_authors_patches.sh

@MacBox7 reported problems using it.

Anyway, we can build it in Python.

[2018-08-10 03:51] jayvdb commented on #124
This could be a tool we dump in https://github.com/summerofcode/ , before or after it is rewritten.

[2018-08-10 04:40] naveenkumarsangi commented on #124
@jayvdb, I had problems using it last year as well. Only that I didn't report things, my bad.

[2018-08-12 05:15] jayvdb opened #125 "Set up Github Contribution Dashboard"
https://github.com/chillu/github-dashing

[2018-08-12 05:56] jayvdb commented on #125
And https://github.com/keen/github-analytics

[2018-09-13 19:43] Man-Jain commented on #122
@palash25 Yes, We can write something like "Cutely Linted By coala" or a simple one like "Linted by coala bears" or "Linted with love by coala"
This is a basic design we can add coala logo here https://img.shields.io/badge/style-Cutely_by_coala-green.svg?longCache=true&style=for-the-badge&label=Linted&logo=slack

[2018-09-13 20:59] palash25 commented on #122
I like this one

[2018-09-13 21:40] Man-Jain commented on #122
How's this https://img.shields.io/badge/style-With_♡%20by_coala-green.svg?longCache=true&style=for-the-badge&label=Linted&link=http://coala.io

[2018-09-13 21:44] palash25 commented on #122
I like it but can you make the :heart: red ?

Also I was thinking if we could have a small coala logo on the left side and then the text. But I guess thats too much work. Its okay for me if its simple as it is.

[2018-09-13 22:22] Man-Jain commented on #122
Yes we surely can add a logo. But for now I don't know how to do it😅. They don't seem to have proper instructions regading it. But without it here its is https://img.shields.io/badge/style-With_❤%20by_coala-green.svg?longCache=true&style=for-the-badge&label=Linted&link=http://coala.io

[2018-09-14 03:16] Man-Jain commented on #122
Looks like I didn't knew how to do it. It was pretty straight forward. Asked it in their channel and it worked.

https://img.shields.io/badge/style-With_❤%20by_coala-green.svg?longCache=true&style=for-the-badge&label=Linted&link=http://coala.io&logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAALJElEQVR42u2aaVNTWRrH+QC+6G8w/Wqqxhdd/bILptu2qmecUXEBtVEUAUGBsEPYl7DJkkACwUBADRAD

[2018-09-14 07:03] palash25 commented on #122
Looks good @Man-Jain just trying using a shortened url next time :wink:  Anyway thanks for this :smile:

Lets wait for a maintainer and other devs to take a look and approve this.  cc @jayvdb

[2018-09-14 14:46] li-boxuan commented on #122
Looks good! Btw coala is always with a small 'c' 😉

[2018-09-16 09:12] Man-Jain commented on #122
@li-boxuan Yes I knew that but it was all Capital so had no other choice. 😅

[2018-09-20 09:16] Man-Jain commented on #122
@palash25 Any updates regarding this ?

[2018-09-20 12:26] palash25 commented on #122
Only the maintainers can tell. @Makman2 likes the badge however so I guess this will be accepted in some time

[2018-09-20 16:55] Man-Jain commented on #122
Okayy Nice 😊

[2018-10-06 15:32] srivama commented on #124
Please assign this to me.

[2018-10-07 10:43] naveenkumarsangi commented on #124
There you go @srivama. Feel free to proceed.

[2018-10-08 02:33] srivama commented on #124
@nkprince007  Thanks :smile:. Should I add the new file in the gsoc-orgs directory mentioned above or here in meta itself?

[2018-10-08 03:37] naveenkumarsangi commented on #124
Probably just here. We can migrate things later.

[2018-10-28 06:41] srivama commented on #124
@jayvdb You can close this issue ;)

[2018-10-29 06:29] jayvdb commented on #104
Related https://github.com/coala/meta/issues/99

[2018-10-31 03:40] jayvdb commented on #64
File has been moved to https://github.com/travis-ci/docs-travis-ci-com/blob/master/.coafile

[2018-10-31 03:40] #124 closed, assigned to srivama

[2018-10-31 03:42] jayvdb commented on #114
@manankalra , any active repos left to enable this in?

[2018-10-31 08:13] manankalra commented on #114
Yes. [coala](https://github.com/coala/coala) and [coala-bears](https://github.com/coala/coala-bears).

[2018-11-11 06:26] jayvdb commented on #64
This issue reserved for Google Code-in task [6496809384935424](https://codein.withgoogle.com/dashboard/tasks/6496809384935424).

[2019-02-06 03:21] jayvdb commented on #123
openSUSE sub-projects:

- coala: https://github.com/coala/coala/issues/5972
- bears: https://github.com/coala/coala-bears/issues/2849
- test rig: https://gitlab.com/coala/mobans/issues/104

[2019-05-15 05:25] li-boxuan opened #127 "Migrate coala-json from GitLab to GitHub"
One of this year's GSoC projects is Result Reporter Tool (see https://summerofcode.withgoogle.com/projects/#6527640138153984 and http://projects.coala.io/#/projects?project=result_reporter_tool&lang=en).

Currently, we have a repo called 'coala-json' on GitLab, https://gitlab.com/coala/coala-json, which could be used as a bed for the Result Reporter Tool project. However, as this project involves

[2019-05-15 05:58] jayvdb commented on #127
Renaming is a good idea.  Not sure if 'reporter' is idea as it suggests a CLI doing something, when it should also be usable as a library.  Also not sure 'coala' should be in the name, as the scope extends beyond coala a bit.  Anyways, the name doesnt matter until the library is usable and needs to be published on PyPI, at which time the name should be finalised.

One main reason to keep the proje

[2019-05-16 13:14] li-boxuan commented on #127
https://github.com/ubc/github2gitlab is a script which also migrates PRs to MRs, but I did not try. But I guess mirroring PRs/MRs is not a concern atm.

[2019-05-21 15:14] jayvdb commented on #127
I think this project should stay on GitLab for at least the first little while, where maintainers are able to merge, which includes mentors on this project.  Due to the GitHub permission structure, and the state of our automation systems, only owners can do merges, and owners are harder to convince that a change is ready to be merged :P, and owners are harder to access reliably.

AppVeyor and GitL

[2019-05-21 15:20] li-boxuan commented on #127
Sure. Can you give me permission to that repository (https://gitlab.com/coala/coala-json)? Thanks.

[2020-01-16 13:50] #57 closed

[2021-11-15 07:56] jayvdb commented on #99
https://github.com/topics/github-management seems to be the best topic on GitHub for this type of tool.

And https://github.com/amirashad/ghctl (Golang) looks to be currently the best tool for updating existing repos.

https://github.com/kbrashears5/github-action-repo-settings-sync/blob/master/entrypoint.sh shows how individual settings can be easily set using shell.